<form #crudView="ngForm" >

    <!--
<app-info></app-info>
-->

      
        <img class="imagen-achicada" src="Logo.png">

        
       

        <h1 class="text-center" style="color: #F68C2A; font-weight: bold;">Iniciar sesion</h1>
            <div class="inputs-container">
                <div class="form-group text-center" style="padding-top: 5rem;">
                    <input style="border: none; outline: none; border-bottom: 2px solid #F68C2A; font-size: 1.5rem; font-weight: bold;" class="col-4 mt-5"type="text" tlt placeholder="Usuario"  name="user" [(ngModel)]="form.user" required/>
                </div>


                <div class="form-group" style="padding-top: 4rem;">
                    <input style="border: none; outline: none; border-bottom: 2px solid #F68C2A; font-size: 1.5rem; font-weight: bold; position: absolute; top: 400px; left: 640px;" class="col-4 mt-5" type="text" tlt placeholder="Contraseña"  name="password" required
                    [(ngModel)]="form.password"
                        type="password">
                </div>
                <div class="form-group" *ngIf="crudService.translatable">
                    <label tlt>Idioma</label>

                    <select [(ngModel)]="form.languageID" class="form-control" autocomplete="off"
                   tlt     placeholder="Idioma" (ngModelChange)="languageChanged(form.languageID)" name="txLanguageID">
                        <option [ngValue]="T.LanguageID" *ngFor="let T of languageList | orderBy:'LanguageName'">{{
                            T.LanguageName }}</option>
                    </select>
                </div>

            </div>
            <div class="buttons-container" style="position: absolute; top: 500px;">
                <button type="submit" class="btn btn-success custom-login-btn" [disabled]="!validSubmit()" (click)="login()" tlt>Ingresar</button>
            </div>
            <div class="text-sm-center" style="position: absolute; top: 660px; left: 900px;">
                <a style="text-align: center; color: gray; font-size: 0.8rem;" routerLink="/ResetPasswordRequest" routerLinkActive="active" tlt>Olvidé mi
                    Contraseña</a>
            </div>
        

   


</form>