<form [formGroup]="form">
    <div class="login-frame">
        <div class="login-logo">
            <img src="assets/images/logos.png" style="width: 100%;">
        </div>

        <div class="login-container" style="padding-top: 2rem;">
            <h5 style="color: #F68C2A;">Generación de Contraseña
            </h5>

            <div class="inputs-container" style="padding-top: 2rem;">
                <div class="form-group">
                    <input tlt placeholder="Usuario" class="form-control" name="email" formControlName="email" ngModel
                        (ngModelChange)="status='PENDING'">
                </div>
                <span tlt>Le enviaremos por email las instrucciones para ingresar</span>


            </div>
            <div class="buttons-container" style="padding-top: 2rem;">
                <button class="btn btn-success custom-login-btn" [disabled]="!validSubmit()" (click)="resetPasswordRequest()"
                    tlt>Solicitar</button>
            </div>


            <h6 *ngIf="status=='OK'" class="text-success" tlt>Las instrucciones han sido enviadas</h6>
            <h6 *ngIf="status=='ERROR'" class="text-danger" tlt>El usuario ingresado no existe en el sistema</h6>


            <div class="text-sm-center ">
                <a style="text-align: center; color: gray; font-size: 0.8rem;" routerLink="/Login" routerLinkActive="active" tlt>Volver a Ingreso</a>
            </div>
        </div>
    </div>

</form>