<form #crudView="ngForm" class="form-crud">
	<crud-toolbar [form]="this"></crud-toolbar>

	<div class="form-body">
		<div class="row">
			<div class="col-sm-3 form-group">
				<label for="txtFirstName" tlt>
					Nombre 
				</label>
				<input type="text" [(ngModel)]="record.UserName" class="form-control" autocomplete="off"
					[crud-required]="action" tlt-placeholder="Nombre" name="txtFirstName" />
			</div>
			<div class="col-sm-6 form-group">
				<label for="txtEmail" tlt>
					E Mail
				</label>
				<input type="text" [(ngModel)]="record.Email" class="form-control" autocomplete="off"
					[crud-required]="action" tlt-placeholder="E Mail" name="txtEmail" />
			</div>
			
		
			<div class="col-sm-1 form-group">
				<label for="chkActive" tlt>
					Activo
				</label>
				<input type="checkbox" [(ngModel)]="record.Active" class="form-control form-checkbox" autocomplete="off"
					[crud-non-required]="action" name="chkActive" />

			</div>

			<div class="col-sm-2 form-group">
				<label for="chkForceChangePassword" tlt>
					Cambiar Contraseña
				</label>
				<input type="checkbox" [(ngModel)]="record.ForceChangePassword" class="form-control form-checkbox"
					autocomplete="off" [crud-non-required]="action" name="chkForceChangePassword" />

			</div>
			<div class="col-sm-3 form-group">
				<label for="txtLogonName" tlt>
					Login
				</label>
				<input type="text" [(ngModel)]="record.LogonName" class="form-control" autocomplete="off"
					[crud-required]="action" tlt-placeholder="Login" name="txtLogonName" />
			</div>
			<div class="col-sm-3 form-group" *ngIf="action=='Adding'">
				<label for="txtPasswordName" tlt>
					Password
				</label>
				<input type="password" [(ngModel)]="record.Password" class="form-control" autocomplete="off"
					[crud-required]="action" tlt-placeholder="Password" name="txtPasswordName" />
			</div>
			<div class="col-sm-2 form-group">
				<label for="txtLastLogon" tlt>
					Último Login
				</label>
				<div class="form-control disabled">
				{{record.LastLogon | displayDate}}
			</div>
				
			</div>
			<div class="col-sm-1 form-group">
				<label for="chkReceiveNotification" tlt>
					Notificaciones
				</label>
				<input type="checkbox" [(ngModel)]="record.ReceiveNotification" class="form-control form-checkbox"
					autocomplete="off" [crud-non-required]="action" name="chkReceiveNotification" />

			</div>


		</div>
		

		<nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
			<ng-container ngbNavItem>
				<a ngbNavLink tlt>Roles del Usuario</a>
				<ng-template ngbNavContent>
					<table class="table table-bordered table-striped table-sm">
						<thead class="thead-dark">
							<tr>
								<th style="min-width:80px;max-width:80px">
									<div [crud-show-c-u]="action">
										<check-uncheck [list]="record.UserRole"></check-uncheck>
									</div>
								</th>
								<th style="width:80%" tlt>Rol</th>

							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let c of record.UserRole ; let index=index">
								<td><input type="checkbox" [(ngModel)]="c.Checked" class="form-control"
										[crud-non-required]="action" [name]="'Checked' + index" /></td>
								<td style="vertical-align:middle;">{{c.RoleName}}</td>
							</tr>
						</tbody>
					</table>
				</ng-template>
			</ng-container>
		</nav>
		<div [ngbNavOutlet]="nav"></div>
	</div>

</form>