<form class="form-list">
	<form-list-header [crudForm]="this"></form-list-header>




	<div class="form-body">



		<h6 class="text-muted" tlt>Críterios de Búsqueda</h6>
		<div class="panel-search">

			<div class="row">
				<div class="col-sm-2 form-group">
					<label class="lettercolororange" for="txtMatchDateFrom" tlt>
						Fecha Desde
					</label>
					<p class="input-group">
						<input type="text" ngbDatepicker #txtMatchDateFrom="ngbDatepicker"
							[(ngModel)]="search.MatchDateFrom" name="txtMatchDateFrom" class="form-control inputboxorange"
							tlt-placeholder="Fecha Desde"
							onfocus="blur();">

						<span (click)="txtMatchDateFrom.toggle()" class="btn btn-outline-secondary"
							style="cursor: pointer;" tabindex="-1">
							<i class="far fa-calendar-alt"></i>
						</span>
					</p>
				</div>
				
				<div class="col-sm-3 form-group">
					<label class="lettercolororange" for="txtZoneID" tlt>
						Zona
					</label>
					<p class="input-group">
						<select   [(ngModel)]="search.ZoneID" class="form-control inputboxorange" autocomplete="off"
							tlt-placeholder="Zona" name="txtZoneID">
							<option [ngValue]=undefined selected tlt> - Todos -</option>
							<option [value]="T.ZoneID"
								*ngFor="let T of ZoneList | orderBy:'ZoneName'">{{ T.ZoneName }}
							</option>
						</select>
					</p>
				</div>
				<div class="col-sm-3 form-group">
				<label class="lettercolororange" for="txtMatchStatusID" tlt>
					Estado 
				</label>
				<p class="input-group">
					<select   [(ngModel)]="search.MatchStatusID" class="form-control inputboxorange" autocomplete="off"
						tlt-placeholder="Estado" name="txtMatchStatusID">
						<option [ngValue]=undefined selected tlt> - Todos -</option>
						<option [value]="T.MatchStatusID"
							*ngFor="let T of MatchStatusList | orderBy:'MatchStatusName'">{{ T.MatchStatusName }}
						</option>
					</select>
				</p>
			</div>
				<div class="col-sm-4 form-group">
					<label class="lettercolororange " for="txtTeamID" tlt>
						Equipo
					</label>
					<p class="input-group">
						<input id="typeahead-template" type="text" class="form-control inputboxorange" [(ngModel)]="search.Team"
							name="TeamID" [ngbTypeahead]="tableSearch('Team')" [focusFirst]='true'
							[editable]='false' autocomplete='off' crud-typeahead [displayFieldName]="'TeamName'"
							tlt-placeholder="Equipo" (ngModelChange)="search.TeamID = search.Team?.TeamID" />
						<button type="button" (click)="tableList(search,'Team')" class="btn btn-open">
							<img src="assets/images/form-list.svg" />
						</button>
					</p>
				</div>
				<div class="col-sm-2 form-group">
					<label class="lettercolororange" for="txtMatchDateTo" tlt>
						Fecha Hasta
					</label>
					<p class="input-group">
						<input type="text" ngbDatepicker #txtMatchDateTo="ngbDatepicker"
							[(ngModel)]="search.MatchDateTo" name="txtMatchDateTo" class="form-control inputboxorange"
							tlt-placeholder="Fecha Hasta"
							onfocus="blur();">

						<span (click)="txtMatchDateTo.toggle()" class="btn btn-outline-secondary"
							style="cursor: pointer;" tabindex="-1">
							<i class="far fa-calendar-alt"></i>
						</span>
					</p>
				</div>
				<div class="col-sm-4 form-group">
					<label class="lettercolororange" for="txtUserID" tlt>
						Árbitro
					</label>
					<select   [(ngModel)]="search.UserID" class="form-control inputboxorange" autocomplete="off"
							tlt-placeholder="Zona" name="txtUserID">
							<option [ngValue]=undefined selected tlt> - Todos -</option>
							<option [value]="T.UserID"
								*ngFor="let T of UserList | orderBy:'UserName'">{{ T.UserName }}
							</option>
						</select>
				</div>
				<div class="col-sm-3 form-group">
					<crud-button-search-reset [crudForm]="this"></crud-button-search-reset>
				</div>
			</div>
		</div>

		<crud-button-new [crudForm]="this"></crud-button-new>



		<table class="table table-condensed table-bordered table-sm table-hover">
			<thead class="thead-white" ngbTooltip="{{recordList?.length}} Registros" data-container="body">
				<tr>
					
					<th>
						<th-sort class="lettercolororange" text="Fecha" fieldName="MatchDate" [(listOrder)]="recordListOrder"></th-sort>
					</th>
					<th >
						<th-sort class="lettercolororange" text="Zona" [(listOrder)]="recordListOrder">
						</th-sort>
					</th>
					<th>
						<th-sort class="lettercolororange" text="Estado" fieldName="MatchStatusName" [(listOrder)]="recordListOrder">
						</th-sort>
					</th>
					<th><th-sort class="lettercolororange" text="Equipo Local" fieldName="HomeTeamName" [(listOrder)]="recordListOrder"></th-sort></th>
					<th><th-sort class="lettercolororange" text="Equipo Visitante" fieldName="AwayTeamName" [(listOrder)]="recordListOrder"></th-sort></th>
					<th><th-sort class="lettercolororange" text="Arbitro" fieldName="UserName" [(listOrder)]="recordListOrder"></th-sort></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let r of recordList | search:searchText.split(' ')[0] | search:searchText.split(' ')[1] | search:searchText.split(' ')[2] | orderBy:recordListOrder"
					(click)="viewRecord(r)" [ngClass]="{'table-info': r.MatchID === selectedID}">
					
					<td>{{r.MatchDate | displayDate }}</td>
					<td>{{r.ZoneName}}</td>
					<td>{{r.MatchStatusName}}</td>
					<td>{{r.HomeTeamName}} ({{r.HomeGoals}}) </td>
					<td>{{r.AwayTeamName}} ({{r.AwayGoals}})</td>
					<td>{{r.UserName}}</td>

				</tr>
			</tbody>
		</table>

	</div>
</form>
